
/*solider*/
#sliderBox{
	width:100%;
	height: 480px;
	/*background: pink;	*/
}
/*design*/
.design{
	width: 100%;
	height: 110px;

}
.designContent{
	width: 1210px;
	height: 110px;
	margin:0 auto;
}
.designContent div{
	width: 302px;
	height: 110px;
	float: left;
	line-height: 110px;
	font-size: 18px;
	color: #666666;
	text-align: center;
}
.designContent div img{
	vertical-align: middle;
}
.designContent div:nth-child(1) img{
	display: inline-block;
	margin-right: 20px;
	width: 60px;
	height: 60px;
	vertical-align: middle;
}

.designContent div:nth-child(2) img{
	margin-right: 20px;
	width: 60px;
	height: 60px;

}
.designContent div:nth-child(3) img{

	margin-right: 20px;
	width: 60px;
	height: 60px;
}
.designContent div:nth-child(4) img{
	width: 60px;
	height: 60px;
}
/*content*/
.content{
	width:100%;
	background: #f5f5f5;
	padding-bottom: 77px;
}
.giftType{
	width: 1210px;
	height: 210px;
	margin:0 auto;
	padding-top: 42px;
	padding-bottom: 70px;
	background: #f5f5f5;
}
.giftType a{
	display: inline-block;
	width: 290px;
	height: 210px;
	margin-right: 11px;

}
.giftType a:last-of-type{
	margin-right:0px;
}
.giftType a img{
	display: block;

	width: 290px;
	height: 210px;

}
/*navType*/
.navType{
	width:1210px;
	height: 18px;
	background:#f5f5f5 ;
	background: url(../img/line.jpg) repeat-x center center;
	margin:0 auto;
	vertical-align: middle;
	margin-bottom: 16px;
}
.navType span{
	float: left;
	width: 114px;
	height: 20px;
	font-size: 18px;
	color: #666666;
	background:#f5f5f5 ;
	line-height: 20px;
	text-align: center;
}
.navType a{
	line-height: 20px;
	float: right;
	width: 84px;
	height: 20px;
	font-size: 16px;
	color: #666666;
	background:#f5f5f5 ;
	text-align: center;
}
.navType a:hover{
	 color: #d93732;
}
.topic_newgoods{
	margin:0 auto;
	background: #f5f5f5;
	/*overflow:hidden;*/
}
 #newsGoods{
	height: 237px;
	padding-top: 14px;
	padding-bottom: 13px;

}
#newsGoods a{
	height: 250px;
}
#newsGoods img{
	height: 250px;
}

#focus_left{
	width: 445px;
}
#focus_right{
	width: 430px;
}
.birthdayGift{
	margin-top: 58px;
	margin-bottom: 30px;
}
/*topic_birthdaygoods*/
.topic_birthdaygoods{
	width: 1210px;
	background: #f5f5f5;
	/*height: 567px;*/
	margin:0 auto; 
	overflow:hidden;
}
.birthdayGoodsList_left{
	width: 230px;
	height: 567px;
	float: left;
}
.birthdayGoodsList_left img{
	width: 230px;
	height: 567px;
	display: inline-block;
}
.birthdayGoodsList_right{
	width: 964px;
	height: 567px;
	float: right;
	text-align: center;
}
.birthdayGoodsList_right li{
	width: 232px;
	height: 276px;
	float: left;
	background: white;
	margin-right: 12px;
	margin-bottom: 14px;

}
.topic_birthdaygoods li:nth-child(4n){
	margin-right: 0px;
}
#link_1{
	width: 230px;
	height: 180px;
	display: block;
	text-align: center;
}
.birthdayGoodsList_right li img{
	width: 160px;
	height: 160px;
	margin-top: 20px;
}
.birthdayGoodsList_right li p a{
	width: 232px;
	display: block;
	text-align: center;
	font-size: 14px;
	line-height:50px;
	color: #333333;
}
.birthdayGoodsList_right li p a:hover{
 	color: #d93732;
}
/*hotgoods*/
.topic_hotgoods{
	widows: 1210px;
	overflow:hidden;
	background: #f5f5f5;
	margin:0 auto;
}
.topic_hotgoods ul{
	width: 1210px;
	background: #f5f5f5;
	margin:0 auto;
}
.topic_hotgoods ul li{
	width: 290px;
	height: 367px;
	background: white;
	font-size: 14px;
	color: #333333;
	float: left;
	margin-right: 13px;

}
.topic_hotgoods ul li:last-child{
	margin-right: 0;
}
.topic_hotgoods ul li img{
	display: block;
	margin: 14px ;
}
.topic_hotgoods ul li a{
	display: block;
	font-size: 14px;
	color: #333333;
	line-height: 20px;
	padding: 0 14px;
}
.topic_hotgoods ul li a:hover{
	 color: #d93732;
}
.topic_hotgoods ul li p:nth-of-type(2){
	padding: 0 14px;
}
.topic_hotgoods ul li p:nth-of-type(1){
	font-size: 12px;
	color: #9e9e9e;
	padding: 20px 14px 13px;
	line-height: 12px;

}