/*contentBox*/
@charset "utf-8";
/*
*定义变量
*/
@mixin widthAndheight{
    width: 414px;
    height: 21px;
}
@mixin logininfoWidthAndheight{
    width: 414px;
    height: 64px;
}
@mixin logininfoDiv2and4{
    width: 414px;
    height: 40px;
}
#contBox{
	width: 100%;
//	height: 766px;
	background:#f5f5f5 url(../img/login_bg.jpg) no-repeat center top;
	background-size:100% 100%;
	clear: both;
	padding-bottom:180px;
//	background: #f5f5f5;
	position: relative;
}
#talkBox{
	padding-top: 28px;
	padding-right: 20px;
	font-size: 12px;
	color: #666666;
	position: relative;
	right: 0px;
	top: 0px;
	a{
		display: inline-block;
		width:86px;
		height: 18px;
		text-align: center;
		line-height: 18px;
		border-radius: 10px;
		color: #666666;
		margin-left: 11px;
		border: 2px solid #979795;
		&:hover{
		color:#d93732;
		}
	}
}
.logininfo{
	width: 590px;
	height: 563px;
	background: white;
	position: relative;
	left:700px;
	top: 105px;
	form{
		width: 412px;
		height: 412px;
		margin:auto;
		margin:70px 90px;
	}
}
//.footer_contant{
//	clear: both;
//  z-index: 10;
//	overflow: hidden;
//	height:500px;
//}

.logininfo form div:nth-child(1){
	width: 414px;
	height: 50px;
	text-align: left;
	vertical-align: top;
	line-height:19px;
	b{
		display: inline-block;
		font-size: 22px;
		color: #000;
		vertical-align: top;
	}
	span{
		display: inline-block;
		vertical-align: top;
		margin-left: 167px;
		font-size: 12px;
		color: #666666;
	}
	a{
		display: inline-block;
		vertical-align: top;
		font-size: 12px;
		color:#333333;
		&:hover{
			color:#d93732;
		}
	}
}
.logininfo form div:nth-child(2){
	@include logininfoDiv2and4;
	border:1px solid #eeeeee;
}
.logininfo form input{
	width: 414px;
	height: 38px;
	opacity: 0.5;
	margin-bottom: 58px;
	border:none;
}
.logininfo form div:nth-child(3){
	@include widthAndheight;
}
.logininfo form div:nth-child(4){
	@include logininfoDiv2and4;
	border:1px solid #eeeeee;
}
.logininfo form div:nth-child(5){
	@include widthAndheight;

}
.logininfo form div:nth-child(6){
	width: 414px;
	height: 50px;
	background:#d93732;
	text-align: center;
	line-height: 50px;
	input{
	font-size:14px;
	color:#fff;
	padding-top:10px;
	opacity:1;
	background:#d93732;
	}
}
.logininfo form div:nth-child(7){
	@include logininfoWidthAndheight;
	margin-left: 0px;
	line-height: 64px;
	position: relative;
	color:black;
		a{
		color:black;
			margin-left: 232px;
			&:hover{
			color:#d93732;
		}
	}
}

.logininfo form div:nth-child(8){
	@include logininfoWidthAndheight;
	text-align: center;
	line-height: 64px;
	opacity:0.5;
	background: url(../img/login_line.jpg) repeat-x center center;
	p{
		margin-left:130px;
		width:158px;
		background:#fff;
	}
}

.logininfo form div:nth-child(9){
	@include logininfoWidthAndheight;
	text-align: center;
	line-height: 64px;
	position:relative;
	span:nth-child(1){
		display: inline-block;
		width: 32px;
		height: 32px;
		border-radius: 50%;
	}

	span:nth-child(2){
		color: #333333;
		display: inline-block;
		position: absolute;
		left: 8px;
		top:20px;
	}
	a:nth-child(1){
		display: inline-block;
		width: 32px;
		height: 55px;
		position: absolute;
		left: 78px;
		top: 7px;
		span:nth-child(1){
			background: url(../img/ico.png) 99px 32px;
		}
		span:nth-child(2){
			left: 8px;
		}

	}
	a:nth-child(2){
		display: inline-block;
		width: 62px;
		height: 55px;
		position: absolute;
		left:174px;
		top: 7px;
		span:nth-child(1){
			background: url(../img/ico.png) 65px 32px;
		}
	}
	a:nth-child(3){
		display: inline-block;
		width: 47px;
		height: 55px;
		position: absolute;
		left:290px;
		top: 7px;
		span:nth-child(1){
			background: url(../img/ico.png) 32px 32px;
		}
	}
}
#checkbtn{
	width: 13px;
	height: 13px;
	border:1px solid #8e8f8f;
	vertical-align: middle;
	position: absolute;
	left:1px;
	top: 24px;
}
